{% extends "index.html"%}
{% block welcome %}
<h3>You have loaded some data. If you would like to load a different dataset, please make a new selection below</h3>
<form method="post">
  {{ form_1.hidden_tag() }}
  {{ form_1.selectData.label }}{{ form_1.selectData}}
  <br>
  {{ form_1.submit() }}
</form>
{% endblock %}

{% block data %}
<h3>This is your data table. You can click on the model tab to begin building your model</h3>
{{ dataset|safe }}
{% endblock %}

{% block model %}
<h3>Now that you have loaded your data, you can begin building your model below</h3>
{{ form_2.selectPredict.label }}{{ form_2.selectPredict }}
<br>
{{ form_2.selectSplit.label }}{{ form_2.selectSplit }}
<br>
{{ form_2.selectTransform.label }}{{ form_2.selectTransform }}
<br>
{{ form_2.selectModel.label }}{{ form_2.selectModel}}
<br>
{{ form_2.modelSubmit }}
{% endblock %}
