{% extends "index.html"%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<h3>{{txt_1}}</h3>
<h3>{{txt_2}}</h3>
{{ wtf.quick_form(form,button_map={'modelSubmit':'primary'}) }}
<!-- <form method="post">
  {{ form.hidden_tag() }}
  {{ form.selectPredictor.label }}{{ form.selectPredictor}}
  <br>
  {{ form.selectSplit.label }}{{ form.selectSplit}}
  <br>
  {{ form.selectTransform.label }}{{ form.selectTransform}}
  <br>
  {{ form.selectModel.label }}{{ form.selectModel}}
  <br>
  {{ form.modelSubmit() }}
</form> -->

{% endblock %}
