<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/test',
                function() {
              //do nothing
            });
            return false;
          });
        });
</script>


{% extends "index.html"%}
{% block content %}
<h3>This is data loading page.</h3>
<p>To get starter, import some toy data</p>
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.selectData.label }}{{ form.selectData}}
  <br>
  <form action="/test" method="post">
    <a id=test class="btn btn-primary" href="#" role="button">Submit</a>
  </form>

</form>

{% endblock %}
